ul,
li {
  list-style: none;
}

body {
  margin: 0;
}

.main {
  border: 1px solid black;
}

.allCart {
  display: flex;
  width: 100px;
  height: 40px;
  padding: 20px 25px;
  margin-left: auto;
  border-left: 1px solid;
}

.page-container {
  display: flex;
}

#navbar,
#products {
  flex-shrink: 2;
}

#navbar {
  display: flex;
  width: auto;
  height: auto;
  padding: 20px 25px;
  margin-right: none;
  border: 1px solid;
  border-left: none;
  border-bottom: none;
  box-sizing: content-box;
  flex-direction: column;
  gap: 15px;
}

#products {
  display: flex;
  width: 100vw;
  height: calc(100vh - 150px);
  padding: 20px 25px;
  border-top: 1px solid;
  box-sizing: content-box;
}

#list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  position: relative;
  margin-right: 40px;
  width: 200px;
  height: 350px;
}

.product img {
  max-width: 200px;
  max-height: 300px;
}

.favoriteButton {
  position: absolute;
  right: 0;
  top: 0;
}

.addCart {
  position: absolute;
  right: 0;
  bottom: 6.5px;
}

.overlay {
  position: absolute;
  display: none;
  width: 200px;
  height: 300px;
  font-size: 30px;
  background-color: black;
  color: aliceblue;
  transition: opacity 0.3s ease;
}

.product:hover .overlay {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.6;
}
