ul,
li {
  list-style: none;
}

#list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  position: relative;
  margin-left: 20px;
}

.product img {
  max-width: 200px;
  max-height: 300px;
}

.overlay {
  position: absolute;
  display: none;
  width: 200px;
  height: 300px;
  font-size: 30px;
  background-color: black;
  color: aliceblue;
  transition: opacity 0.3s ease;
}

.product:hover .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}
